// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customers {

  table {
    border-collapse: collapse;
  }

  table th {
    border: solid 1px #007AA5;
    font-size: small;
    font-weight: bold;
    padding: 2px;
  }

  table td {
    border: solid 1px #007AA5;
    font-size: x-small;
    padding: 2px;
  }

}

